.coke_page{
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
}
.coke_banner{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100vw;
    position: relative;
}
.coke_banner .coke_product{
    width: 500px;
    height: 500px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 300px;
    display: flex;
    z-index: 1;
    transition: 0.7s;
    --left:-210px;
}
.coke_banner .coke_product .coke_soda{
    background: var(--url) var(--left),
    url(../../../images/freepik__upload__64095.png);
    background-size: auto 100%;
    width: 500px;
    aspect-ratio: 2/2;
    background-blend-mode: multiply;
    mask-image: url(../../../images/freepik__upload__64095.png);
    mask-size: auto 100%;
    transition: 0.7s;
    position: absolute;
}
.coke_banner .coke_product:hover{
    --left:750px;
    transform: translateX(-50%) translateY(-10%);
}


.coke_description{
    padding-top: 20px;
    background-color: red;
    color: white;
    border-radius: 10px;
    position: absolute;
    height: max-content;
    width: 800px;
    transition: all 0.5s ease;
    bottom: 30px;
    left: 25%;
}
.coke_description:hover{
    transform: scale(1.05);
}
.coke_description p{
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    margin-top: 30px;
  
}
.cola_thunder{
    text-decoration: underline 5px solid white;
}
.coke_description{
    text-align: center;
}
.cola_diet_para{
    display: none;
}
.cola_diet{
    display: none;
    text-decoration: underline 5px solid red;
}

.coke_banner .coke_product .coke_soda:nth-child(2){
    opacity: 0;
}
.coke_banner .coke_product:hover .coke_soda:nth-child(2){
    opacity: 100%;
}
.coke_product:hover ~ .coke_description{
    background-color: white;
    color: black;
}
.coke_product:hover ~ .coke_description .cola_thunder_para{
    display: none;
}
.coke_product:hover ~ .coke_description .cola_diet_para{
    display: block;
}
.coke_product:hover ~ .coke_description .cola_diet{
    display: block;
}
.coke_product:hover ~ .coke_description .cola_thunder{
    display: none;
}